<html>
  <head>
    <title>X</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" media="all" href="//{{__baseurl}}/public/css/bundle.css">
  </head>
  <body>
